.conteinerFavorites {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.conteinerCard {
    display: flex;
    flex-direction: row;
}

.text-central {
    text-align: center;
}