.navStyle {
  background-color: #566573;
}
.btn-search {
  display: flex;
  justify-content: center;
  width: 100%;
}

.links {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  text-decoration: none;
  color: #2bfd45;
}
