.navStyle {
    background-color: rgba(70, 8, 72, 0.92);
}
.btn-search{
    display: flex;
    justify-content: center;
    width: 100%;
}

.links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}